nav {
  height: 120px;
  background-color:#4f75f1;
  color:aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-family: 'Bungee', sans-serif;
  margin-left: 1.5em;
}
.tweet-link {
  margin-right: 1.5em;
} 