
html {
  scroll-padding-top: 120px;
}

section {
  margin-top: 1em;
}

.new-tweet {
  background-color: #4f75f1;
  margin-right: 0;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 1em 1em 1em;
}

tweet-text {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  width: 90%;
  border-bottom: 2px solid  black;
}

.error-container {
  width: 100%;
}
.error-visible {
  border-color: red;
}

label[for=tweet-text] {
  font-weight: 300;
}

textarea {
  font-family: 'Source Sans Pro', sans-serif;
  background:#4f75f1;
  min-height: 5em;
  box-sizing: content-box;
  outline: none;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-bottom: 5px solid black;
  border-right: 0;
}

.tweet-action {
  display: flex;
  justify-content: space-between;
}

form div.container {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

button[type=submit] {
  background-color:cornflowerblue;
  color:#4f75f1;
}


.counter {
  font-family: 'Bungee', sans-serif;
}
  
.overcount {
  color:red;
  font-weight: 700;
}

/* Desktop design */
@media only screen and (min-width: 1024px) {
  .container {
    padding-top: none;
  }
}